In [1]:
import pandas as pd
import numpy as np

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

from matplotlib.colors import ListedColormap
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('SalaryData_Train.csv')
train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
test = pd.read_csv('SalaryData_Test.csv')
test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [4]:
train.shape

(30161, 14)

In [5]:
train.shape

(30161, 14)

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [8]:
train.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  30161.000000  30161.000000  30161.000000  30161.000000  30161.000000
mean      38.438115     10.121316   1092.044064     88.302311     40.931269
std       13.134830      2.550037   7406.466611    404.121321     11.980182
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       47.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   4356.000000     99.000000

In [9]:

test.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  15060.000000  15060.000000  15060.000000  15060.000000  15060.000000
mean      38.768327     10.112749   1120.301594     89.041899     40.951594
std       13.380676      2.558727   7703.181842    406.283245     12.062831
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       48.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   3770.000000     99.000000

In [10]:
train.corr()

                   age  educationno  capitalgain  capitalloss  hoursperweek
age           1.000000     0.043525     0.080152     0.060278      0.101598
educationno   0.043525     1.000000     0.124416     0.079691      0.152522
capitalgain   0.080152     0.124416     1.000000    -0.032218      0.080431
capitalloss   0.060278     0.079691    -0.032218     1.000000      0.052454
hoursperweek  0.101598     0.152522     0.080431     0.052454      1.000000

In [11]:
test.corr()

                   age  educationno  capitalgain  capitalloss  hoursperweek
age           1.000000     0.026123     0.078760     0.057745      0.102758
educationno   0.026123     1.000000     0.131750     0.085817      0.133691
capitalgain   0.078760     0.131750     1.000000    -0.031876      0.090501
capitalloss   0.057745     0.085817    -0.031876     1.000000      0.057712
hoursperweek  0.102758     0.133691     0.090501     0.057712      1.000000

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import GridSearchCV

In [13]:
lb = LabelEncoder()

In [14]:
train["workclass"] = lb.fit_transform(train["workclass"])
train["education"] = lb.fit_transform(train["education"])
train["maritalstatus"] = lb.fit_transform(train["maritalstatus"])
train["occupation"] = lb.fit_transform(train["occupation"])
train["relationship"] = lb.fit_transform(train["relationship"])
train["race"] = lb.fit_transform(train["race"])
train["sex"] = lb.fit_transform(train["sex"])
train["native"] = lb.fit_transform(train["native"])
train["Salary"] = lb.fit_transform(train["Salary"])

In [15]:
test["workclass"] = lb.fit_transform(test["workclass"])
test["education"] = lb.fit_transform(test["education"])
test["maritalstatus"] = lb.fit_transform(test["maritalstatus"])
test["occupation"] = lb.fit_transform(test["occupation"])
test["relationship"] = lb.fit_transform(test["relationship"])
test["race"] = lb.fit_transform(test["race"])
test["sex"] = lb.fit_transform(test["sex"])
test["native"] = lb.fit_transform(test["native"])
test["Salary"] = lb.fit_transform(test["Salary"])

In [16]:
X_train=train.iloc[:,:-1]
X_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,39,5,9,13,4,0,1,4,1,2174,0,40,37
1,50,4,9,13,2,3,0,4,1,0,0,13,37
2,38,2,11,9,0,5,1,4,1,0,0,40,37
3,53,2,1,7,2,5,0,2,1,0,0,40,37
4,28,2,9,13,2,9,5,2,0,0,0,40,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,2,7,12,2,12,5,4,0,0,0,38,37
30157,40,2,11,9,2,6,0,4,1,0,0,40,37
30158,58,2,11,9,6,0,4,4,0,0,0,40,37
30159,22,2,11,9,4,0,3,4,1,0,0,20,37
30160,52,3,11,9,2,3,5,4,0,15024,0,40,37

In [17]:
y_train=train.iloc[:,-1]
y_train

0        0
1        0
2        0
3        0
4        0
        ..
30156    0
30157    1
30158    0
30159    0
30160    1
Name: Salary, Length: 30161, dtype: int32

In [18]:
X_test=test.iloc[:,:-1]
X_test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,25,2,1,7,4,6,3,2,1,0,0,40,37
1,38,2,11,9,2,4,0,4,1,0,0,50,37
2,28,1,7,12,2,10,0,4,1,0,0,40,37
3,44,2,15,10,2,6,0,2,1,7688,0,40,37
4,34,2,0,6,4,7,1,4,1,0,0,30,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,2,9,13,4,9,3,4,1,0,0,40,37
15056,39,2,9,13,0,9,1,4,0,0,0,36,37
15057,38,2,9,13,2,9,0,4,1,0,0,50,37
15058,44,2,9,13,0,0,3,1,1,5455,0,40,37
15059,35,3,9,13,2,3,0,4,1,0,0,60,37

In [19]:
y_test = test.iloc[:,-1]
y_test

0        0
1        0
2        1
3        1
4        0
        ..
15055    0
15056    0
15057    0
15058    0
15059    1
Name: Salary, Length: 15060, dtype: int32

In [20]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((30161, 13), (30161,), (15060, 13), (15060,))

In [21]:
model = SVC()

model.fit(X_train, y_train)

SVC()

In [22]:
y_pred = model.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [23]:
print(confusion_matrix(y_test, y_pred))

[[10997   363]
 [ 2703   997]]

In [24]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.97      0.88     11360
           1       0.73      0.27      0.39      3700

    accuracy                           0.80     15060
   macro avg       0.77      0.62      0.64     15060
weighted avg       0.79      0.80      0.76     15060

In [25]:
param_grid = {'C' : [1, 5, 10, 15, 20], 'gamma' : [1, 0.1, 0.01, 0.001, 0.0001], 'kernel' : ['rbf']}

In [26]:
grid = GridSearchCV(SVC(), param_grid, refit = True, verbose = 3,  cv = 5)

In [27]:
grid.fit(X_train, y_train)

Fitting 5 folds for each of 25 candidates, totalling 125 fits
[CV 1/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.760 total time= 2.0min
[CV 2/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.762 total time= 2.3min
[CV 3/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.759 total time= 1.9min
[CV 4/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.762 total time= 2.5min
[CV 5/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.761 total time= 2.3min
[CV 1/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.796 total time= 1.6min
[CV 2/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.807 total time= 1.5min
[CV 3/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.803 total time= 1.2min
[CV 4/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.803 total time= 1.4min
[CV 5/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.802 total time= 1.5min
[CV 1/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.844 total time=  39.1s
[CV 2/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.847 total time=  39.6s
[CV 3/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.851 total time=  33.7s
[CV 4/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.849 total time=  33.9s
[CV 5/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.848 total time=  33.5s
[CV 1/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.842 total time=  16.5s
[CV 2/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.844 total time=  16.5s
[CV 3/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.846 total time=  16.5s
[CV 4/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.841 total time=  16.5s
[CV 5/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.848 total time=  16.6s
[CV 1/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.821 total time=  15.0s
[CV 2/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.818 total time=  15.1s
[CV 3/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.820 total time=  15.2s
[CV 4/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.816 total time=  15.3s
[CV 5/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.825 total time=  15.2s
[CV 1/5] END ..........C=5, gamma=1, kernel=rbf;, score=0.764 total time= 2.0min
[CV 2/5] END ..........C=5, gamma=1, kernel=rbf;, score=0.766 total time= 2.0min
[CV 3/5] END ..........C=5, gamma=1, kernel=rbf;, score=0.761 total time= 2.0min
[CV 4/5] END ..........C=5, gamma=1, kernel=rbf;, score=0.764 total time= 2.1min
[CV 5/5] END ..........C=5, gamma=1, kernel=rbf;, score=0.763 total time= 2.3min
[CV 1/5] END ........C=5, gamma=0.1, kernel=rbf;, score=0.795 total time= 1.8min
[CV 2/5] END ........C=5, gamma=0.1, kernel=rbf;, score=0.802 total time= 1.6min
[CV 3/5] END ........C=5, gamma=0.1, kernel=rbf;, score=0.792 total time= 1.6min
[CV 4/5] END ........C=5, gamma=0.1, kernel=rbf;, score=0.798 total time= 1.4min
[CV 5/5] END ........C=5, gamma=0.1, kernel=rbf;, score=0.796 total time= 1.7min
[CV 1/5] END .......C=5, gamma=0.01, kernel=rbf;, score=0.848 total time=  39.4s
[CV 2/5] END .......C=5, gamma=0.01, kernel=rbf;, score=0.850 total time=  39.6s
[CV 3/5] END .......C=5, gamma=0.01, kernel=rbf;, score=0.855 total time=  38.7s
[CV 4/5] END .......C=5, gamma=0.01, kernel=rbf;, score=0.852 total time=  39.5s
[CV 5/5] END .......C=5, gamma=0.01, kernel=rbf;, score=0.851 total time=  40.4s
[CV 1/5] END ......C=5, gamma=0.001, kernel=rbf;, score=0.844 total time=  17.1s
[CV 2/5] END ......C=5, gamma=0.001, kernel=rbf;, score=0.851 total time=  17.1s
[CV 3/5] END ......C=5, gamma=0.001, kernel=rbf;, score=0.853 total time=  17.1s
[CV 4/5] END ......C=5, gamma=0.001, kernel=rbf;, score=0.850 total time=  17.2s
[CV 5/5] END ......C=5, gamma=0.001, kernel=rbf;, score=0.854 total time=  17.9s
[CV 1/5] END .....C=5, gamma=0.0001, kernel=rbf;, score=0.823 total time=  15.6s
[CV 2/5] END .....C=5, gamma=0.0001, kernel=rbf;, score=0.819 total time=  15.8s
[CV 3/5] END .....C=5, gamma=0.0001, kernel=rbf;, score=0.821 total time=  15.4s
[CV 4/5] END .....C=5, gamma=0.0001, kernel=rbf;, score=0.817 total time=  15.2s
[CV 5/5] END .....C=5, gamma=0.0001, kernel=rbf;, score=0.825 total time=  15.1s
[CV 1/5] END .........C=10, gamma=1, kernel=rbf;, score=0.764 total time= 2.0min
[CV 2/5] END .........C=10, gamma=1, kernel=rbf;, score=0.766 total time= 2.2min
[CV 3/5] END .........C=10, gamma=1, kernel=rbf;, score=0.761 total time= 2.3min
[CV 4/5] END .........C=10, gamma=1, kernel=rbf;, score=0.764 total time= 1.9min
[CV 5/5] END .........C=10, gamma=1, kernel=rbf;, score=0.763 total time= 1.9min
[CV 1/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.793 total time= 1.7min
[CV 2/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.796 total time= 1.9min
[CV 3/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.786 total time= 1.8min
[CV 4/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.795 total time= 1.9min
[CV 5/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.789 total time= 1.8min
[CV 1/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.849 total time=  47.2s
[CV 2/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.850 total time=  41.1s
[CV 3/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.852 total time=  43.7s
[CV 4/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.850 total time=  44.0s
[CV 5/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.850 total time=  43.8s
[CV 1/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.846 total time=  17.3s
[CV 2/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.853 total time=  17.3s
[CV 3/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.854 total time=  17.7s
[CV 4/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.852 total time=  17.4s
[CV 5/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.853 total time=  17.5s
[CV 1/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.832 total time=  14.9s
[CV 2/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.824 total time=  15.1s
[CV 3/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.823 total time=  15.0s
[CV 4/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.819 total time=  15.1s
[CV 5/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.830 total time=  15.3s
[CV 1/5] END .........C=15, gamma=1, kernel=rbf;, score=0.764 total time= 2.0min
[CV 2/5] END .........C=15, gamma=1, kernel=rbf;, score=0.766 total time= 2.0min
[CV 3/5] END .........C=15, gamma=1, kernel=rbf;, score=0.761 total time= 2.0min
[CV 4/5] END .........C=15, gamma=1, kernel=rbf;, score=0.764 total time= 1.9min
[CV 5/5] END .........C=15, gamma=1, kernel=rbf;, score=0.763 total time= 1.9min
[CV 1/5] END .......C=15, gamma=0.1, kernel=rbf;, score=0.789 total time= 1.7min
[CV 2/5] END .......C=15, gamma=0.1, kernel=rbf;, score=0.793 total time= 1.7min
[CV 3/5] END .......C=15, gamma=0.1, kernel=rbf;, score=0.782 total time= 1.7min
[CV 4/5] END .......C=15, gamma=0.1, kernel=rbf;, score=0.794 total time= 1.6min
[CV 5/5] END .......C=15, gamma=0.1, kernel=rbf;, score=0.785 total time= 1.7min
[CV 1/5] END ......C=15, gamma=0.01, kernel=rbf;, score=0.850 total time=  47.9s
[CV 2/5] END ......C=15, gamma=0.01, kernel=rbf;, score=0.853 total time=  46.5s
[CV 3/5] END ......C=15, gamma=0.01, kernel=rbf;, score=0.850 total time=  47.2s
[CV 4/5] END ......C=15, gamma=0.01, kernel=rbf;, score=0.852 total time=  47.5s
[CV 5/5] END ......C=15, gamma=0.01, kernel=rbf;, score=0.850 total time=  47.7s
[CV 1/5] END .....C=15, gamma=0.001, kernel=rbf;, score=0.848 total time=  17.9s
[CV 2/5] END .....C=15, gamma=0.001, kernel=rbf;, score=0.854 total time=  17.8s
[CV 3/5] END .....C=15, gamma=0.001, kernel=rbf;, score=0.854 total time=  17.9s
[CV 4/5] END .....C=15, gamma=0.001, kernel=rbf;, score=0.854 total time=  17.9s
[CV 5/5] END .....C=15, gamma=0.001, kernel=rbf;, score=0.855 total time=  18.0s
[CV 1/5] END ....C=15, gamma=0.0001, kernel=rbf;, score=0.833 total time=  15.4s
[CV 2/5] END ....C=15, gamma=0.0001, kernel=rbf;, score=0.829 total time=  15.4s
[CV 3/5] END ....C=15, gamma=0.0001, kernel=rbf;, score=0.831 total time=  15.3s
[CV 4/5] END ....C=15, gamma=0.0001, kernel=rbf;, score=0.824 total time=  15.6s
[CV 5/5] END ....C=15, gamma=0.0001, kernel=rbf;, score=0.838 total time=  15.2s
[CV 1/5] END .........C=20, gamma=1, kernel=rbf;, score=0.764 total time= 2.0min

[CV 2/5] END .........C=20, gamma=1, kernel=rbf;, score=0.766 total time= 2.0min
[CV 3/5] END .........C=20, gamma=1, kernel=rbf;, score=0.761 total time= 2.0min
[CV 4/5] END .........C=20, gamma=1, kernel=rbf;, score=0.764 total time= 1.9min
[CV 5/5] END .........C=20, gamma=1, kernel=rbf;, score=0.763 total time= 1.9min
[CV 1/5] END .......C=20, gamma=0.1, kernel=rbf;, score=0.788 total time= 1.7min
[CV 2/5] END .......C=20, gamma=0.1, kernel=rbf;, score=0.793 total time= 1.7min
[CV 3/5] END .......C=20, gamma=0.1, kernel=rbf;, score=0.781 total time= 1.7min
[CV 4/5] END .......C=20, gamma=0.1, kernel=rbf;, score=0.791 total time= 1.7min
[CV 5/5] END .......C=20, gamma=0.1, kernel=rbf;, score=0.782 total time= 1.8min
[CV 1/5] END ......C=20, gamma=0.01, kernel=rbf;, score=0.847 total time=  50.5s
[CV 2/5] END ......C=20, gamma=0.01, kernel=rbf;, score=0.852 total time=  49.8s
[CV 3/5] END ......C=20, gamma=0.01, kernel=rbf;, score=0.849 total time=  49.9s
[CV 4/5] END ......C=20, gamma=0.01, kernel=rbf;, score=0.851 total time=  51.3s
[CV 5/5] END ......C=20, gamma=0.01, kernel=rbf;, score=0.849 total time=  49.9s
[CV 1/5] END .....C=20, gamma=0.001, kernel=rbf;, score=0.847 total time=  18.2s
[CV 2/5] END .....C=20, gamma=0.001, kernel=rbf;, score=0.854 total time=  18.2s
[CV 3/5] END .....C=20, gamma=0.001, kernel=rbf;, score=0.856 total time=  18.4s
[CV 4/5] END .....C=20, gamma=0.001, kernel=rbf;, score=0.855 total time=  18.5s
[CV 5/5] END .....C=20, gamma=0.001, kernel=rbf;, score=0.855 total time=  18.5s
[CV 1/5] END ....C=20, gamma=0.0001, kernel=rbf;, score=0.836 total time=  15.7s
[CV 2/5] END ....C=20, gamma=0.0001, kernel=rbf;, score=0.832 total time=  15.2s
[CV 3/5] END ....C=20, gamma=0.0001, kernel=rbf;, score=0.835 total time=  15.6s
[CV 4/5] END ....C=20, gamma=0.0001, kernel=rbf;, score=0.830 total time=  15.3s
[CV 5/5] END ....C=20, gamma=0.0001, kernel=rbf;, score=0.841 total time=  15.6s

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'C': [1, 5, 10, 15, 20],
                         'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
                         'kernel': ['rbf']},
             verbose=3)

In [28]:
grid.best_params_

{'C': 20, 'gamma': 0.001, 'kernel': 'rbf'}

In [29]:
grid.best_estimator_

SVC(C=20, gamma=0.001)

In [30]:
grid_pred = grid.predict(X_test)

In [31]:
grid_pred

array([0, 0, 0, ..., 1, 0, 1])

In [32]:
print(confusion_matrix(y_test, grid_pred))

[[10924   436]
 [ 1768  1932]]

In [33]:
print(classification_report(y_test, grid_pred))

              precision    recall  f1-score   support

           0       0.86      0.96      0.91     11360
           1       0.82      0.52      0.64      3700

    accuracy                           0.85     15060
   macro avg       0.84      0.74      0.77     15060
weighted avg       0.85      0.85      0.84     15060