In [1]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\vinay\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\vinay\anaconda3\lib\site-packages (from scikit-learn) (1.6.0)
Requirement already satisfied: joblib>=1.0.0 in c:\users\vinay\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\vinay\anaconda3\lib\site-packages (from scikit-learn) (1.20.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\vinay\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\vinay\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy>=1.15 in c:\users\vinay\anaconda3\lib\site-packages (from statsmodels) (1.20.3)
Requirement already satisfied: scipy>=1.1 in c:\users\vinay\anaconda3\lib\site-packages (from statsmodels) (1.6.0)
Requirement already satisfied: pandas>=0.21 in c:\users\vinay\anaconda3\lib\site-packages (from statsmodels) (1.3.4)
Requirement already satisfied: patsy>=0.5 in c:\users\vinay\anaconda3\lib\site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\vinay\anaconda3\lib\site-packages (from pandas>=0.21->statsmodels) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\vinay\anaconda3\lib\site-packages (from pandas>=0.21->statsmodels) (2.8.2)
Requirement already satisfied: six in c:\users\vinay\anaconda3\lib\site-packages (from patsy>=0.5->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import sklearn
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels.formula.api as smf
from sklearn.metrics import r2_score

In [4]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 3C57-EE5E

 Directory of C:\Users\vinay\Documents

26-05-2022  21:52    <DIR>          .
26-05-2022  21:52    <DIR>          ..
26-05-2022  21:52    <DIR>          .ipynb_checkpoints
05-05-2022  22:41             1,325 Assignment 2 Set 2 Q 2 - B.ipynb
07-05-2022  14:32             1,189 Assignment 2 Set 2 Q4.ipynb
07-05-2022  14:34               588 Assignment 2 Set 2 Q5 .ipynb
10-05-2022  22:54             2,678 Assignment 2 set 4 Q 3.ipynb
10-05-2022  22:54             1,934 Assignment 2 Set 4 Question 5.ipynb
02-05-2022  21:21             5,893 Assignment 2-set1Q1.ipynb
26-05-2022  21:52            39,600 Assignment 4 Q 1.ipynb
26-05-2022  21:52                72 Assignment 4 Q 2.ipynb
24-05-2022  21:36               218 delivery_time.csv
02-05-2022  22:15               962 Q7.csv
02-05-2022  14:36            50,442 Q7.ipynb
02-05-2022  14:18            19,866 Q9 and Q12.ipynb
24-04-2022  14:05               502 Q9_a.csv
02-05-2022  13:59             2,420 Q9_b.csv
24-05-2022  21:36               454 Salary_Data.csv
03-02-2022  08:06                 0 untitled.txt
              16 File(s)        128,143 bytes
               3 Dir(s)  153,276,248,064 bytes free

In [6]:
sal=pd.read_csv("Salary_Data.csv")

In [7]:
sal

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [8]:
sal=sal.rename({'YearsExperience':'yexp', 'Salary':'salary'},axis=1)

In [10]:
lm = LinearRegression()
X =sal["yexp"].values.reshape(-1,1)
Y =sal["salary"].values.reshape(-1,1)

In [11]:
sal

    yexp    salary
0    1.1   39343.0
1    1.3   46205.0
2    1.5   37731.0
3    2.0   43525.0
4    2.2   39891.0
5    2.9   56642.0
6    3.0   60150.0
7    3.2   54445.0
8    3.2   64445.0
9    3.7   57189.0
10   3.9   63218.0
11   4.0   55794.0
12   4.0   56957.0
13   4.1   57081.0
14   4.5   61111.0
15   4.9   67938.0
16   5.1   66029.0
17   5.3   83088.0
18   5.9   81363.0
19   6.0   93940.0
20   6.8   91738.0
21   7.1   98273.0
22   7.9  101302.0
23   8.2  113812.0
24   8.7  109431.0
25   9.0  105582.0
26   9.5  116969.0
27   9.6  112635.0
28  10.3  122391.0
29  10.5  121872.0

In [12]:
first_model = smf.ols("salary~yexp",data=sal).fit()

In [13]:
first_model.params

Intercept    25792.200199
yexp          9449.962321
dtype: float64

In [14]:
first_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.957
Model:                            OLS   Adj. R-squared:                  0.955
Method:                 Least Squares   F-statistic:                     622.5
Date:                Thu, 26 May 2022   Prob (F-statistic):           1.14e-20
Time:                        21:57:26   Log-Likelihood:                -301.44
No. Observations:                  30   AIC:                             606.9
Df Residuals:                      28   BIC:                             609.7
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   2.579e+04   2273.053     11.347      0.000    2.11e+04    3.04e+04
yexp        9449.9623    378.755     24.950      0.000    8674.119    1.02e+04
==============================================================================
Omnibus:                        2.140   Durbin-Watson:                   1.648
Prob(Omnibus):                  0.343   Jarque-Bera (JB):                1.569
Skew:                           0.363   Prob(JB):                        0.456
Kurtosis:                       2.147   Cond. No.                         13.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [25]:
first_model.predict(sal)

0      36187.158752
1      38077.151217
2      39967.143681
3      44692.124842
4      46582.117306
5      53197.090931
6      54142.087163
7      56032.079627
8      56032.079627
9      60757.060788
10     62647.053252
11     63592.049484
12     63592.049484
13     64537.045717
14     68317.030645
15     72097.015574
16     73987.008038
17     75877.000502
18     81546.977895
19     82491.974127
20     90051.943985
21     92886.932681
22    100446.902538
23    103281.891235
24    108006.872395
25    110841.861092
26    115566.842252
27    116511.838485
28    123126.812110
29    125016.804574
dtype: float64